.nav{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.image{
    padding: 40px;
    
}
.logo{ 
    width: 150px;
    height: 70px;
    

}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}
header
{
    width: 100%;
    height: 100vh;
    background: url(Pool\ seating\ private\ villa\ kuwait\ Sarah\ Sadeq\ architects.jpg);
    background-size: 100% 100%;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(201, 182, 182, .4);

}
.heading{
    text-align: center;
    margin-top: 25px;

}
.heading h1{
    font-size: 50px;
    color: #36455c;
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}

.about-us{
    display:flex;
    align-items:center;
    width: 85%;
    margin: auto;
}
.about-us img{
    flex:0 50% ;
    max-width:50%;
    height: auto;
}
.content{
    padding:35px;

}
.content h2{
    color:#36455c;
    font-size: 24px;
    margin:15px 0px;


}
.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;

}
.read-more-btn{
    display: inline-block;
    color: #fff;
    background-color: brown;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;

}
.read-more-btn:hover{
    background-color: #006dd6;
    
}